<div class="container">
  <h1>User Login</h1>
  <hr>
<div class="well well-lg">
    <div id="warning-box" class="alert alert-danger" role="alert">
      <h4>Incorrect Login</h4>
      <p>The username or password you entered does not belong to an account.</p>
      <p>Make sure that your information was typed in correctly.</p>
    </div>
    <%= render 'new_user_session' %>
    <%= link_to "Forgot your password?"%>
  </div>
</div>
<hr>

