<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Let's Eat!</h4>
      </div>
      <div class="modal-body">
        <div class="tabbable">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">User Login</a></li>
            <li><a href="#tab2" data-toggle="tab">Vendor Login</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <br><br>
              <%= render 'new_user_session' %>
            </div>

            <div class="tab-pane" id="tab2">
              <br><br>
              <%= render 'new_vendor_session' %>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>