<h1>Our Mission and Vision</h1>

<%= render 'vendor_login', locals: {@user => @user, @vendor => @vendor}%>
<%= render 'user_login', locals: {@user => @user, @vendor => @vendor}%>
<!-- renders modal for vendor sign up -->
<%= render 'signup_vendor', locals: {@vendor => @vendor} %>
<%= render 'user/new_user', locals: {@user => @user, @vendor => @vendor}%>
