<div id="banner" class="container">
  <h1 id="banner-title">Full - Bellies</h1>
  <p class="lead">
    The most conveient way to connect local businesses with hungry people. Sign up, save, eat.
  </p>
  <div class="container">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">I'm a Vendor</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">I'm Hungary</button>
  </div>
</div>

<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p id="marketing-glyph" class="glyphicon glyphicon-grain"></p>
      <p>Feeding People</p>
    </div>
    <div class="col-sm-4">
      <p id="marketing-glyph" class="glyphicon glyphicon-leaf"></p>
      <p>Firing People</p>
    </div>
    <div class="col-sm-4">
      <p id="marketing-glyph" class="glyphicon glyphicon-comment"></p>
      <p>Connecting People</p>
    </div>
  </div>
</div>
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Full-Bellies, Inc. &middot; <a href="#">Terms</a> &middot; <a href="#">Contact</a></p>
  </footer>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Let's Eat!</h4>
      </div>
      <div class="modal-body">
        <div class="tabbable"> <!-- Only required for left/right tabs -->

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">User Login</a></li>
            <li><a href="#tab2" data-toggle="tab">Vendor Login</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <br><br>
              <%= render 'new_user_session' %>
            </div>

            <div class="tab-pane" id="tab2">
              <br><br>
              <%= render 'new_vendor_session' %>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>


<!-- BELOW IS VENDOR SIGNUP MODAL -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#vendorSignup">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="vendorSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>