<div id="banner" class="container">
  <h1 id="banner-title">Full - Bellies</h1>
  <p class="lead">
    The most conveient way to connect local businesses with hungry people. Sign up, save, eat.
  </p><br>
  <div class="container">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">I'm a Vendor</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">I'm Hungary</button>
  </div>
</div>

<br><br><br>

<div id="glyph-container" class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-grain"></p>
      <p>Feeding People</p>
    </div>
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-piggy-bank"></p>
      <p>Saving Money</p>
    </div>
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-comment"></p>
      <p>Connecting People</p>
    </div>
  </div>
</div>
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Full-Bellies, Inc. &middot; <a href="#">Terms</a> &middot; <a href="#">Contact</a></p>
  </footer>

</div>

<!-- renders modal for login (user & vendor) -->
<%= render 'login', locals: {@user => @user, @vendor => @vendor}%>
<!-- renders modal for vendor sign up -->
<%= render 'signup_vendor', locals: {@vendor => @vendor} %>