
<main class="bs-docs-masthead" style="background-color: blue;">
  <div class="container">
    <h1 id="banner">FULL BELLIES</h1>
    <p class="lead">
      The most conveient way to connect local businesses with hungry people. Sign up, save, eat.
    </p>
    <div class="container">
      <button class="btn btn-success">I'm a Vendor</button>
      <button class="btn btn-success">I'm Hungary</button>
    </div>
  </div>
</main>

<% if session[:user_id] %>
<p>user id:</p>
<%= session[:user_id] %>
<% end %>
<% if session[:vendor_id] %>
<p>vendor id:</p>
<%= session[:vendor_id] %>
<% end %>
