<ul>
  <% @deals.each do |deal| %>
    <%=render partial: '/deals/deal', locals: {deal: deal} %>
  <% end %>
</ul>



<h1>experimental map</h1>
<div id="map-canvas" style="width: 400px; height: 400px"></div>
