<% @vendor.users.each do |follower| %>
  <div class="follower">
    <img class="img-circle" src="https://pbs.twimg.com/profile_images/2858734172/db7da718fd369eba6184973631d7d84a_bigger.jpeg">
    <div class="user_content">
      <span class="username"><%= link_to follower.username, user_path(follower) %></span>
    </div>
  </li>
<% end %>
