<div class="container">
  <div class="row">
    <div id="last-five" class="col-md-3">
      <h3>Your Last Five Deals:</h3>
      <% @last_five.each do |deal| %>
        <ul>
          <h3><%= link_to deal.title, deal_path(deal.id) %></h3>
        </ul>
      <% end %>
    </div>
    <div class="col-md-6">
        <% unless current_vendor_stripe_link? %>
           <script type="text/javascript">
            $(window).load(function(){
              $('#stripeModal').modal('show');
            });
          </script>
        <% end %>
      <%= render 'deal_manager', locals: {deal: @deal} %>
    </div>
    <div id="considerations" class="col-md-3">
      <h3>Things to Consider While Posting:</h3>
      <ul>
        <li>Consider grouping items together into a single deal and selling items in bulk groups.</li>
        <li>Post items with enough time left on them to allow for your customers to pick up.</li>
        <li>Put a reasonable price on the item to sell it quickly. Remember, you were going to throw it away!</li>
        <li>Post a day in advance if you know that those items will go bad or not be purchased.</li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal for Stripe Sign Up -->
<div class="container">
  <div class="modal fade" id="stripeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign up with Stripe!</h4>
        </div>
        <div class="modal-body">
          <div id="stripebuttondiv">
            <h1>You need to link or create your Stripe account!</h1>
            <p>Follow the link below</p>
            <a id="stripebutton"href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%=ENV['STRIPE_CLIENT_ID']%>&scope=read_write"><button class="btn btn-primary">Create or Link Stripe</button>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>