<h1>vendor partial</h1>
<h3>Send SMS</h3>
<%= link_to 'Send Text', text_path %>
<%= link_to 'Send Email', email_path %>
<%= link_to 'New Deal', new_deal_path %>
<h3>Current Deals</h3>
  <% @vendor.deals.each do |deal| %>
    <h4><%= link_to deal.title, deal_path(deal) %></h4>
  <% end %>
<h3>Followers</h3>

