<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Last 5 Deals:</h3>
      <% @last_five.each do |deal| %>
        <ul>
          <h3><%= link_to deal.title, deal_path(deal.id) %></h3>
        </ul>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render 'deal_manager', locals: {deal: @deal} %>
    </div>
    <div class="col-md-3">
      <h3>How to Post:</h3>
      <ul style="color: #92CD00;">
        <li>Click 'New Deal' (blue button)</li>
        <li>Fill in All fields</li>
        <li>Gain access to new revenue!</li>
      </ul>
    </div>
  </div>
</div>

<!-- possibly use for future -->
<!-- <h3>Your Followers:</h3>
<iframe src="/vendors/<%= @vendor.id %>/followers"></iframe> -->