<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Last 5 Deals:</h3>
      <% @last_five.each do |deal| %>
        <ul>
          <h3><%= link_to deal.title, deal_path(deal.id) %></h3>
        </ul>
      <% end %>
    </div>
    <div class="col-md-6">
        <% unless current_vendor_stripe_link? %>
          <div id="stripebuttondiv">
            <button class="btn btn-danger"><a id="stripebutton"href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_6dd8N58cZhASMNZeI9SdZyJusiVkoueg&scope=read_write">Create Stripe Account</a></button>
            <div>
              <p>You haven't created and/or linked your account to stripe yet. Please do this so you can post deals on Full-Bellies.</p>
            </div>
          </div>
        <% end %>
      <%= render 'deal_manager', locals: {deal: @deal} %>
    </div>
    <div class="col-md-3">
      <h3>Things to Consider While Posting:</h3>
      <ul>
        <li>Consider grouping items together into a single deal and selling items in bulk groups.</li>
        <li>Post items with enough time left on them to allow for your customers to pick up.</li>
        <li>Put a reasonable price on the item to sell it quickly. Remember, you were going to throw it away!</li>
        <li>Post a day in advance if you know that those items will go bad or not be purchased.</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>

<!-- possibly use for future -->
<!-- <h3>Your Followers:</h3>
<iframe src="/vendors/<%= @vendor.id %>/followers"></iframe> -->