<h1>SHOW VENDOR PROFILE HERE</h1>
<% if vendor_logged_in? %>
  <%=render partial: '/vendors/vendor', locals: {vendor: @vendor} %>
<% else %>
  <%=render partial: '/vendors/user', locals: {vendor: @vendor} %>
<% end %>

