<div class="modal fade" id="pic-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Profile Picture</h4>
      </div>
      <div class="modal-body">
        <%= form_for @user, class: 'text-center', method: "put", :html => { :multipart => true } do |form| %>
          <%= form.file_field :avatar, :default_url => '/assets/images/profile.png' %>
          <%= form.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
