#map-canvas {
  height:400px;
  width: 400px;
  margin: 0;
  padding: 0;
}

#banner{
  background: image-url('banner2.png');
  background-size: contain;
  background-size: cover;
  /*text-align: center;*/
  /*vertical-align: middle;*/
  line-height: 110px;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 50px
}

#banner-title{
  color: #8cbd16;
  padding-top: 45px;
  padding-bottom: 30px;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  /*padding-left: 50%;*/
}

#banner-sub-title {
  color: #8cbd16;
  padding-top: 20px;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  /*padding-left: 50%;*/
}

#nav-top a {
  color: #8cbd16;
  font-weight: bold;
}

#nav-top {
  background-color: white;
}

#glyph-container {
  margin-top: 7em;
  margin-bottom: 7em;
  background-color: #E5E4D7;
}

#glyph-container .row {
  padding-top: 45px;
  padding-bottom: 45px;
}

#marketing-glyph {
  text-align: center;
  font-size: 100px;
}

#signup-info {
  padding-left: 2%;
}

.alert {
  text-align: center;
}

#welcome-user {
  color: #92CD00;
  font-size: 100px;
  font-family: 'Pacifico', cursive;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg);
}

#dealindexahoy {
  color: #92CD00;
  font-size: 65px;
  font-family: 'Pacifico', cursive;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg);
}

#profile-top-bar{
  padding-top: 30px;
  padding-bottom: 30px;
}

#warning-box {
  border-color: #FF0029;
}

#stripebutton {
  color: black;
}

#stripebuttondiv {
  text-align: center;
}

#stripebuttondiv h1 {
  color: #2C6700;
  font-family: 'Pacifico', cursive;
}

#considerations {
  background-color: #E5E4D7;
  padding-bottom: 20px;
}

#last-five {
  background-color: #E5E4D7;
  height: 350px;
}

.vendor-map {
  padding-left: 12%;
}

.pac-container {
    z-index: 1051 !important;
}

#dealvendorname {
  margin-right: 10px;
  margin-left: 10px;
}

#dealindexitem {
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: -1px 1px 3px #d3d3d3;
  margin-left: 10em;
  margin-right: 10em;
  display: inline-block;
  height: 12em;
}

#dealindexpage{
  display: inline-block;
  width: 100%;
}

#dealindexitem li {
  padding-bottom: 25px;
  display: block;
  height: 10em;
}

#dealindexitems {
  display: inline-block;
}

#dealprofilepicture {
  display: block;
  height: 10em;
  margin-right: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  box-shadow: -1px 1px 3px #d3d3d3;
  padding-top: 20px;
  padding-bottom: auto;
}

#dealprofilepicture div{
  margin-left: 10em;
}

.priceandquantity {
  font-weight: bold;
}

#dealindexinfo {
  position: fixed;
  display: inline-block;
}

#dealindexinfo #importanttext{
  position: fixed;
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  vertical-align: top;
  margin-left: 5em;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 2em;
  box-shadow: -1px 1px 3px #d3d3d3;
  background-color: #FFCF79;
}

#dealwelcome {
  display: inline-block;
  margin-right: 0px;
  padding-left: 7em;
  padding-bottom: 6em;
}

#dealwelcome h2 {
  padding-left: 10px;
}

#dealindexinfo li {
  list-style-type: square;
}

#deal-title {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 10px;
}

#deal-index-title {
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 10px;
}

#dealvendorimage{
  height: 100px;
  width: 100px;
}

#dealcontent {
  display: inline-block;
  vertical-align: top;
  margin-right: px;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  box-shadow: -1px 1px 3px #d3d3d3;
  text-align: center;
}

#indexdealcontent {
  display: inline-block;
  text-align:center;
  padding-top: 7px;
}

#dealpictures {
  width: 40%;
  display: inline-block;
  margin-left: 7em;

}

#dealpicture {
  margin-right: 5em;
  padding-top: 25px;
}
/*neon green 92CD00*/
/*grey E5E4D7*/
/*tan FFCF79*/
/*dark green 2C6700*/
