#map-canvas {
  height:400px;
  width: 400px;
  margin: 0;
  padding: 0;
}

#banner{
  background: image-url('banner.png');
  background-size: contain;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 50px
}

#banner-title{
  color: #E5E4D7;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

#nav-top a {
  color: inherit;
}

#nav-top {
  background-color: #E5E4D7;
}

#glyph-container {
  margin-top: 7em;
  margin-bottom: 7em;
  background-color: #E5E4D7;
}

#glyph-container .row {
  padding-top: 45px;
  padding-bottom: 45px;
}

#marketing-glyph {
  text-align: center;
  font-size: 100px;
}

#signup-info {
  padding-left: 2%;
}

.alert {
  text-align: center;
}

#welcome-user {
  color: #92CD00;
  font-size: 100px;
  font-family: 'Pacifico', cursive;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg);
}

#profile-top-bar{
  padding-top: 30px;
  padding-bottom: 30px;
}

#warning-box {
  border-color: #FF0029;
}

#stripebutton {
  color: black;
}

#stripebuttondiv {
  text-align: center;
}

#stripebuttondiv h1 {
  color: #2C6700;
  font-family: 'Pacifico', cursive;
}

#considerations {
  background-color: #E5E4D7;
  padding-bottom: 20px;
}

#last-five {
  background-color: #E5E4D7;
  height: 350px;
}

.vendor-map {
  padding-left: 12%;
}

.pac-container {
    z-index: 1051 !important;
}

#dealvendorname {
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
}

#dealindexitem {
  width: 80%;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: -1px 1px 3px #d3d3d3;
  margin-left: 10em;
  margin-right: 10em;
  display: inline-block;
  height: 12em;
}

#dealindexpage{
  display: inline-block;
  width: 100%;
}

#dealindexitem li {
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  height: 10em;
}

#dealindexitems {
  display: inline-block;
  width: 50%;
}

#dealprofilepicture {
  display: block;
  height: 10em;
  margin-right: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  box-shadow: -1px 1px 3px #d3d3d3;
  padding-top: 20px;
  padding-bottom: auto;
}

#dealprofilepicture div{
  margin-left: 10em;
}

.priceandquantity {
  font-weight: bold;
}

#dealindexinfo {
  width: 40%;
  display: inline-block;
  margin-right: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  vertical-align: top;
  margin-left: 5em;
  position: fixed;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 22em;
  box-shadow: -1px 1px 3px #d3d3d3;
  background-color: #FFCF79;
}

#dealwelcome {
  display: inline-block;
  margin-right: 0px;
  position: fixed;
  padding-top: 23em;
  padding-left: 2em;
}

#dealwelcome h2 {
  padding-left: 10px;
}

#dealindexinfo li {
  list-style-type: square;
}

#deal-title {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 10px;
}

#dealindexitem div {
  margin-left: 10em;
}

#dealvendorimage{
  height: 100px;
  width: 100px;
}

#dealcontent {
  margin: 2em;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  box-shadow: -1px 1px 3px #d3d3d3;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#dealpictures {
  width: 40%;
  display: inline-block;
  margin-left: 7em;

}
/*neon green 92CD00*/
/*grey E5E4D7*/
/*tan FFCF79*/
/*dark green 2C6700*/
