#user_deals {
  height: 300px;
  width: 100%;
  overflow: scroll;
}
   /*<div class="col-md-8" id="user_deals">
      <% if current_user %>
        <% favorites_deals(@user).each_with_index do |deal, index| %>
          <%=render partial: '/deals/deal', locals: {deal: deal, index: index} %>
        <% end %>
      <% else %>
        <h1 id="welcome-user">Hello!</h1>
      <% end %>
    </div>
*/
