#purchased_deals {
  height: 300px;
  width: 100%;
  overflow: scroll;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
}

.user-purchased-deal {
  background-color: #E5E4D7;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
}

#followed-vendors {
  height: 300px;
  overflow: scroll;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
}

.follow-vendors-contacts {
  background-color: #E5E4D7;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
}
