<h1>Grandma's pizza</h1>

<div class="item-description">
	<p>This is the best pizza in the world</p>
</div>
<p>#picture#</p>
<div class="restaurant-description">
	<p>Located just outside the slums of bushwick</p>
</div>

<%= form_tag charges_path do %>
  <%= hidden_field_tag 'amount', '5.00' %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>
